{% extends "users/import/_base.html" %}
{% load i18n %}
{% block steps %}
  <ol>
    <li>
      {% blocktrans %}On Goodreads, click <a href="https://www.goodreads.com/review/import" target="_blank" rel="noopener"><b>Export Library</b></a> to download your library as a CSV file.{% endblocktrans %}
    </li>
    <li>
      {% blocktrans %}Upload the downloaded <code>goodreads_library_export.csv</code> file below.{% endblocktrans %}
    </li>
  </ol>
{% endblock %}
{% block rules %}
  {% trans "Want-to-read / currently-reading / read / did-not-finish books and their reviews will be imported." as imported %}
  {% trans "Books on your own custom shelves." as skipped %}
  {% trans "A status never moves back, for example from complete to wishlist. Changed comments and reviews are updated." as existing %}
  {% trans "Safe. Nothing is imported twice." as again %}
  {% include "users/_import_rules.html" %}
{% endblock %}
{% block form %}
  <form hx-post="{% url 'users:import_goodreads' %}"
        enctype="multipart/form-data"
        {% if running_import %}hx-confirm="{% trans 'Another import is in progress, starting a new import may cause issues, sure to import?' %}" hx-disinherit="hx-confirm"{% endif %}>
    {% csrf_token %}
    <input type="file" name="file" required accept=".csv">
    {% include "users/_visibility_field.html" %}
    <input type="submit" value="{% trans 'Import' %}" />
    {% include "users/user_task_status.html" %}
  </form>
{% endblock %}
