$color-primary: #00a1cc !default
$color-tertiary: #bbb !default

// Medium devices (tablets, 768px and up)
$medium-devices: 767.98px

// on home page
.entity-sort
	position: relative
	margin-bottom: 30px
	// for drag and sort purpose
	&--placeholder
		border: dashed $color-tertiary 4px
	&--hover
		padding: 10px
		border: dashed $color-primary 2px !important
		border-radius: 3px
	&--sortable
		padding: 10px
		margin: 10px 0
		border: dashed $color-tertiary 2px
		cursor: all-scroll
	&--hidden
		opacity: 0.4

.entity-sort-control
	display: flex
	justify-content: flex-end

	&__button
		margin-top: 5px
		margin-left: 12px
		padding: 0 2px
		cursor: pointer
		color: $color-tertiary
		&:hover
			color: $color-primary
			& > .icon-save svg, & > .icon-edit svg
				fill: $color-primary

		&--float-right
			position: absolute
			top: 4px
			right: 10px

img.emoji
	height: 14px
	box-sizing: border-box
	object-fit: contain
	position: relative
	top: 3px

@media (max-width: $medium-devices)
	.calendar_view
		overflow-x: scroll
