{% load i18n %}
{% load user_actions %}
{% load duration %}
<div {% if request.user.is_authenticated and mark.owner.pk == request.user.identity.pk %}data-mark-detail="{{ item.uuid }}"{% endif %}
     {% if oob %}hx-swap-oob="outerHTML:[data-mark-detail='{{ item.uuid }}']"{% endif %}>
  {% if mark.shelf %}
    <section>
      <div class="mark-line">
        <span class="mark-status">{{ mark.status_label|capfirst }}</span>
        {% if mark.rating_grade %}{{ mark.rating_grade|rating_star }}{% endif %}
        <span class="mark-date">{{ mark.created_time|date }}</span>
        <div class="action">{% include "action_open_post.html" with post=mark.shelfmember.latest_post %}</div>
      </div>
      {% if mark.comment.html %}<div class="mark-comment">{{ mark.comment.html|safe }}</div>{% endif %}
      {% if mark.comment.latest_post %}<div id="replies_{{ mark.comment.latest_post.pk }}"></div>{% endif %}
    </section>
  {% endif %}
  {% if mark.tags %}
    <section>
      <span class="tag-list">
        {% for tag in mark.tags %}
          {% if forloop.counter <= 5 %}
            <span>
              <a href="{% url 'common:search' %}?c=journal&amp;q=tag:&quot;{{ tag }}&quot;">{{ tag }}</a>
            </span>
          {% endif %}
        {% endfor %}
      </span>
    </section>
  {% endif %}
</div>
