{% extends "item_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load strip_scheme %}
{% load thumb %}
{% block details %}
  <div>{% include '_people.html' with people=item.additional_title role='' max=99 %}</div>
  <div>{% include '_people.html' with people=item.author role='author' max=5 %}</div>
{% endblock %}
{% block content %}
  <div class="item-card-list">
    {% for work in item.works.all %}
      {% include '_list_item.html' with item=work.related_editions.first hide_parent=1 mark=0 %}
    {% endfor %}
  </div>
{% endblock %}
{% block sidebar %}{% endblock %}
{% block cover %}{% endblock %}
{% block metadata %}{% endblock %}
