{% extends "item_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load strip_scheme %}
{% load thumb %}
<!-- class specific details -->
{% block details %}
  <div>{% include '_people.html' with people=item.additional_title role='' max=99 %}</div>
  <div>{% include '_people.html' with people=item.author role='author' max=5 %}</div>
{% endblock %}
{% block left_sidebar %}
  <div _="init hide .item-mark-buttons then hide .item-mark-icon end">
    <details open>
      <summary>{% trans 'Series' %}</summary>
      {% for w in item.works.all %}
        <div>
          <a href="{{ w.url }}">{{ w.display_title }}</a>
        </div>
      {% endfor %}
    </details>
  </div>
{% endblock %}
<!-- class specific sidebar -->
{% block sidebar %}{% endblock %}
