body {
  --pico-block-spacing-vertical: var(--pico-block-spacing-horizontal);
}

article {
  padding: var(--pico-block-spacing-horizontal);

  header,
  footer {
    padding: var(--pico-block-spacing-horizontal);
  }
}

details {
  margin: 0;
}

.empty {
  font-style: italic;
  font-size: 80%;
  color: var(--pico-muted-color);
}

.oneline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.handler {
  color: var(--pico-muted-color);
  word-break: break-all;
  opacity: 0.5;
}

.action {
  width: max-content;
  float: right;

  >span {
    margin-left: 1em;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  a.disabled {
    cursor: unset;
    color: var(--pico-muted-color);
    opacity: 0.5;
  }

  a:not(:hover) {
    color: var(--pico-muted-color);
    opacity: 0.5;
  }

  a.activated:not(:hover) {
    color: var(--pico-primary);
    opacity: 1;
  }
}
