.site-list a {
  display: inline;
  background: transparent;
  border-radius: .3rem;
  border-style: solid;
  border-width: .1rem;
  line-height: 1.2rem;
  font-size: 80%;
  margin: 3px;
  padding: 1px 3px;
  padding-top: 2px;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  word-break: keep-all;
  opacity: 1;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
}
