{# parameters: item, collection_edit, hide_category #}
{% load thumb %}
{% load highlight %}
{% load i18n %}
{% load l10n %}
{% load user_actions %}
{% wish_item_action item as action %}



<article class="item-card">
  <span class="action">
    <span>
    {% if not action.taken %}
    <a title="添加标记" hx-get="{% url 'journal:mark' item.uuid %}?shelf_type=wishlist&new=1" hx-target="body" hx-swap="beforeend">
      <i class="fa-regular fa-bookmark"></i>
    </a>
    {% else %}
    <a class="activated" title="修改标记" hx-get="{% url 'journal:mark' item.uuid %}?new=1" hx-target="body" hx-swap="beforeend">
      <i class="fa-solid fa-bookmark"></i>
    </a>
    {% endif %}
    </span>
  </span>
  {% include "_item_card.html" with item=item %}
{% comment %}

  <footer>
    {% if mark %}
    <div class="clearfix"></div>
    <div class="dividing-line dividing-line--dashed"></div>
    <div class="entity-marks" style="margin-bottom: 0;">
      <ul class="entity-marks__mark-list">
        <li class="entity-marks__mark">
          {% if mark.rating %}
          <span class="entity-marks__rating-star rating-star"
          data-rating-score="{{ mark.rating | floatformat:0 }}" style="left: -4px;"></span>
          {% endif %}
          {% if mark.visibility > 0 %}
          <i class="fa-solid fa-lock"></i>
          {% endif %}
          <span style="float:right;">
            {% trans '标记于' %} {{ member.created_time|date }}
          </span>
          <p class="entity-marks__mark-content">&nbsp;
          {% if mark.text %}
          {{ mark.comment_html|safe }}
          {% endif %}
          </p>
        </li>
        {% if mark.review %}
        <li class="entity-marks__mark">
          <span style="float:right;">
            {% trans '评论于' %} {{ mark.review.created_time|date }}
          </span>
          <p class="entity-marks__mark-content">
            <a href="{{ mark.review.url }}">{{ mark.review.title }}</a>
            {% if mark.review.visibility > 0 %}
            <i class="fa-solid fa-lock"></i>
            {% endif %}
          </p>
        </li>
        {% endif %}
      </ul>
    </div>
    {% endif %}

    {% if collection_member %}
    <div class="clearfix"></div>
    <div class="dividing-line dividing-line--dashed"></div>
    <div class="entity-marks" style="margin-bottom: 0;">
      <ul class="entity-marks__mark-list">
        <li class="entity-marks__mark">
          <p class="entity-marks__mark-content" hx-target="this" hx-swap="innerHTML">

            {% if collection_member.note %} {{ collection_member.note }} {% endif %}
            {% if collection_edit %}
            <a class="icon" hx-get="{% url 'journal:collection_update_item_note' collection.uuid item.uuid %}"><i class="fa-regular fa-pen-to-square"></i></a>
            {% endif %}

          </p>
        </li>
      </ul>
    </div>
    {% endif %}

  </footer> {% endcomment %}
</article>
