{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
{% load collection %}
{% load user_actions %}
<!DOCTYPE html>
<html lang="zh" class="classic-page">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {{ identity.display_name }} - {{ year }} 年度小结</title>
    {% include "common_libs.html" %}
    {% comment %} <script src="https://unpkg.com/rough-viz@2.0.5"></script> {% endcomment %}
    <script src="{% static 'js/roughviz.umd.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/save-svg-as-png@1.4.17/lib/saveSvgAsPng.min.js"></script>
    <style>
      .yAxisviz0, .rough-yAxisviz0 {
        display: none;
      }
      .xAxisviz0 {
        {% comment %} opacity: 0.3; {% endcomment %}
      }
    </style>
  </head>
  <body>
    {% include "_header.html" %}
    <main>
      <div class="grid__main">
        <span class="action">
          <span>
            <a onclick="saveSvgAsPng($('#viz0').children('svg')[0], 'wrapped.png');"><i class="fa-solid fa-download"></i></a>
          </span>
        </span>
        <h5>{{ year }} 年度统计</h5>
        <div id="viz0" style="width: 100%; height: 50vh;"></div>
        {% comment %} <div id="viz1" style="width: 12em; height: 12em;"></div> {% endcomment %}
        {{ by_cat|json_script:"cat-data" }}
        {{ monthly|json_script:"mon-data" }}
        {{ data|json_script:"data" }}
        <script>
          var cats = JSON.parse(document.getElementById('cat-data').textContent);
          var data = JSON.parse(document.getElementById('data').textContent);
          var viz0 = new roughViz.StackedBar(
            {
              title: "{{ identity.user.mastodon_acct | default:identity.full_handle }} - {{ year }}",
              element: '#viz0',
              data: data,
              labels: "Month",
              highlight: "#666",
              roughness: 0,
              fillStyle: 'cross-hatch',
              margin: { top: 60, left: 40, right: 40, bottom: 80 },
              stroke: 1,
              color: 'red',
              strokeWidth: 1,
              axisStrokeWidth: 1,
              innerStrokeWidth: 1,
              fillWeight: 1,
              axisRoughness: 1,
              yLabel:"",
            }
          );
          viz0.setTitle = function(title) {
            $('#viz0').children('svg').css("background-color", "#fbfcfc").css("border-radius", "1rem");

            viz0.svg.append("text")
            .attr("x", viz0.width / 2)
            .attr("y", 0 - viz0.margin.top / 2)
            .attr("class", "title")
            .attr("text-anchor", "middle")
            .style( "font-size", 20 )
            .style( "font-weight", "bold" )
            .style("font-family", viz0.fontFamily)
            .style("color", "#000")
            .text(title);

            viz0.svg.append("text")
            .attr("x", viz0.width / 2)
            .attr("y", viz0.height + viz0.margin.top -10)
            .attr("class", "title")
            .attr("text-anchor", "middle")
            .style( "font-size", 20 )
            .style("font-family", viz0.fontFamily)
            .style("color", "#000")
            .text(cats);

            viz0.svg.append("text")
            .attr("x", viz0.width)
            .attr("y", viz0.height + viz0.margin.top + 10)
            .attr("class", "title")
            .attr("text-anchor", "end")
            .style( "font-size", 12 )
            .style("font-family", viz0.fontFamily)
            .style("color", "#666")
            .text("{{ identity.profile_uri }}");

          };
          if ($('#viz0')[0].clientHeight < 250) {
              $('#viz0')[0].style.height = $('#viz0')[0].clientWidth + 'px';
          }
          viz0.boundRedraw()
        </script>
      </div>
      {% include "_sidebar.html" with show_profile=1 %}
    </main>
    {% include "_footer.html" %}
  </body>
</html>
